<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ivan Andres Castillo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <p style="display: flex; justify-content: center; align-items: center; font-size: 40px; margin: 10px;">Curriculum
    Ionic</p>
  <ion-img
    style="display: block; width: 150px; height: 150px; margin: 40px auto;"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrnmLszQVvBx8ksRsrtD1wVSsUM_4D3qRObg&s"
    alt="ion-img example"></ion-img>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>NOMBRES</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Ivan Andres Castillo Caiza</div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>HABILIDADES</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <div style="display: flex; flex-wrap: wrap; justify-content: center; gap: 20px;">
          <ion-card style="width: 200px; height: 300px;">
            <ion-card-header>
              <ion-card-title>Lenguajes de Programación:</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Dominio de JavaScript, TypeScript, Python y C#. Experiencia en el desarrollo de aplicaciones web, móviles
              y de escritorio.
            </ion-card-content>
          </ion-card>
          <ion-card style="width: 200px; height: 300px;">
            <ion-card-header>
              <ion-card-title>Frameworks y Librerías:</ion-card-title>

            </ion-card-header>
            <ion-card-content>
              Manejo de Angular, React, Ionic y Node.js para el desarrollo frontend y backend.
            </ion-card-content>
          </ion-card>
          <ion-card style="width: 200px; height: 300px;">
            <ion-card-header>
              <ion-card-title>Bases de Datos</ion-card-title>

            </ion-card-header>
            <ion-card-content>
              Conocimiento en MySQL, PostgreSQL y MongoDB; diseño y optimización de consultas SQL.
            </ion-card-content>
          </ion-card>
          <ion-card style="width: 200px; height: 300px;">
            <ion-card-header>
              <ion-card-title>Metodologías Ágiles</ion-card-title>

            </ion-card-header>
            <ion-card-content>
              Trabajo con Scrum y Kanban, fomentando la colaboración en equipo y la entrega continua de valor.
            </ion-card-content>
          </ion-card>
          <ion-card style="width: 200px; height: 300px;">
            <ion-card-header>
              <ion-card-title>Control de Versiones</ion-card-title>

            </ion-card-header>
            <ion-card-content>
              Uso avanzado de Git y GitHub/GitLab para la gestión de proyectos colaborativos.
            </ion-card-content>
          </ion-card>

        </div>
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>IDIOMAS</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <div style="display: flex; flex-wrap: wrap; justify-content: center; gap: 20px;">
          <ion-card style="width: 200px; height: 100px;">
            <ion-card-header>
              <ion-card-title>Ingles</ion-card-title>

            </ion-card-header>
            <ion-card-content>

            </ion-card-content>
          </ion-card>

          <ion-card style="width: 200px; height: 100px;">
            <ion-card-header>
              <ion-card-title>Español</ion-card-title>

            </ion-card-header>
            <ion-card-content>

            </ion-card-content>
          </ion-card>

          <ion-card style="width: 200px; height: 100px;">
            <ion-card-header>
              <ion-card-title>Frances</ion-card-title>

            </ion-card-header>
            <ion-card-content>

            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-accordion>
    <ion-accordion value="fourth">
      <ion-item slot="header" color="light">
        <ion-label>EXPERIENCIA</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Ayudante en una desarrollo de aplicacion app.</div>
    </ion-accordion>
  </ion-accordion-group>


  <p style="display: flex; justify-content: center; align-items: center; font-size: 40px; margin: 10px;">Proyectos</p>

  <div style="display: flex; flex-wrap: wrap; justify-content: center; gap: 20px;">
    <ion-card style="width: 400px; height: 300px;">
      <img style="height: 100px; width: 100%; object-fit: cover;"
        src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Here's a small text description for the card content.
      </ion-card-content>
    </ion-card>

    <ion-card style="width: 400px; height: 300px;">
      <img style="height: 100px; width: 100%; object-fit: cover;"
        src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Here's a small text description for the card content.
      </ion-card-content>
    </ion-card>

    <ion-card style="width: 400px; height: 300px;">
      <img style="height: 100px; width: 100%; object-fit: cover;"
        src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Here's a small text description for the card content.
      </ion-card-content>
    </ion-card>
  </div>


</ion-content>